<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Arikaim Arikaim\Core\View\Template\Extension | API Documentation</title>
            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/style.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="shortcut icon" href="../../../../images/arikaim-favicon.png" />
    </head>

    <body id="class" data-name="class:Arikaim_Core_View_Template_Extension" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <script>
            $('option[data-version="'+window.projectVersion+'"]').prop('selected', true);
        </script>
        <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                   
                <ul class="nav navbar-nav" style="margin-left:0px">                               
                    <li>
                        <a class="page-title float-left" href="http://arikaim.com/">Arikaim</a>
                    </li>
                    <li><a href="index.html">API Documentation</a></li>
                    <li><a href="#">Version 1.2.16</a></li>
                </ul>                                                         
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                        <li><a href="../../../../Arikaim.html">Arikaim</a></li><li class="backslash">\</li><li><a href="../../../../Arikaim/Core.html">Core</a></li><li class="backslash">\</li><li><a href="../../../../Arikaim/Core/View.html">View</a></li><li class="backslash">\</li><li><a href="../../../../Arikaim/Core/View/Template.html">Template</a></li><li class="backslash">\</li><li>Extension</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            Extension
                
        </h1>
    </div>

    <p>    class
    <strong>Extension</strong>        extends <abbr title="Twig\Extension\AbstractExtension">AbstractExtension</abbr>        implements
        <abbr title="Twig\Extension\GlobalsInterface">GlobalsInterface</abbr>
</p>

        
    

            <div class="description">
            <p>Template engine functions, filters and tests.</p>                                </div>
    
    
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property_markdownParser">
                                        protected                                        object
                </td>
                <td>$markdownParser</td>
                <td class="last">Markdown parser</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_cache">
                                        protected                                        <a href="../../../../Arikaim/Core/Interfaces/CacheInterface.html"><abbr title="Arikaim\Core\Interfaces\CacheInterface">CacheInterface</abbr></a>
                </td>
                <td>$cache</td>
                <td class="last">Cache</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_access">
                                        protected                                        <a href="../../../../Arikaim/Core/Interfaces/Access/AccessInterface.html"><abbr title="Arikaim\Core\Interfaces\Access\AccessInterface">AccessInterface</abbr></a>
                </td>
                <td>$access</td>
                <td class="last">Permisisons manager</td>
                <td></td>
            </tr>
                    <tr>
                <td class="type" id="property_viewPath">
                                        protected                                        string
                </td>
                <td>$viewPath</td>
                <td class="last">View path</td>
                <td></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method___construct">__construct</a>(<a href="../../../../Arikaim/Core/Interfaces/CacheInterface.html"><abbr title="Arikaim\Core\Interfaces\CacheInterface">CacheInterface</abbr></a> $cache, $basePath, $viewPath, <a href="../../../../Arikaim/Core/Interfaces/View/HtmlPageInterface.html"><abbr title="Arikaim\Core\Interfaces\View\HtmlPageInterface">HtmlPageInterface</abbr></a> $page, <a href="../../../../Arikaim/Core/Interfaces/Access/AccessInterface.html"><abbr title="Arikaim\Core\Interfaces\Access\AccessInterface">AccessInterface</abbr></a> $access)
        
                                            <p>Constructor</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getGlobals">getGlobals</a>()
        
                                            <p>Rempate engine global variables</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getFunctions">getFunctions</a>()
        
                                            <p>Template engine functions</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getFilters">getFilters</a>()
        
                                            <p>Template engine filters</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTests">getTests</a>()
        
                                            <p>Template engine tests</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTokenParsers">getTokenParsers</a>()
        
                                            <p>Template engine tags</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setVar">setVar</a>(string $name, mixed $value)
        
                                            <p>Set global variable</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getVar">getVar</a>(string $name, mixed|null $default = null)
        
                                            <p>Get global var</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getPrimaryTemplate">getPrimaryTemplate</a>()
        
                                            <p>Get current template</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_parseMarkdown">parseMarkdown</a>($content, $context = [])
        
                                            <p>Parse Markdown</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_loadComponent">loadComponent</a>(string $name, array $params = [])
        
                                            <p>Load component</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getPageFiles">getPageFiles</a>()
        
                                            <p>Get page fles</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTemplateFiles">getTemplateFiles</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getThemeFiles">getThemeFiles</a>()
        
                                            <p>Return theme files</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getLibraryFiles">getLibraryFiles</a>()
        
                                            <p>Return library files</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getComponentsFiles">getComponentsFiles</a>()
        
                                            <p>Get page fles</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getProperties">getProperties</a>(string $name, string|null $language = null)
        
                                            <p>Get component properties</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array|null
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getComponentOptions">getComponentOptions</a>(string $name)
        
                                            <p>Get comonent options ( control panel access is required)</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_loadComponentCssFile">loadComponentCssFile</a>(string $componentName)
        
                                            <p>Load component css file</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_loadLibraryFile">loadLibraryFile</a>(string $library, string $fileName)
        
                                            <p>Load Ui library file</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    boolean
                </div>
                <div class="col-md-8 type">
                    <a href="#method_hasAccess">hasAccess</a>(string $name, string|array $type = null, mixed $authId = null)
        
                                            <p>Check access</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    boolean
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isLogged">isLogged</a>()
        
                                            <p>Return true if use ris logged</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location">at         line 70</div>
        <code>                    
    <strong>__construct</strong>(<a href="../../../../Arikaim/Core/Interfaces/CacheInterface.html"><abbr title="Arikaim\Core\Interfaces\CacheInterface">CacheInterface</abbr></a> $cache, $basePath, $viewPath, <a href="../../../../Arikaim/Core/Interfaces/View/HtmlPageInterface.html"><abbr title="Arikaim\Core\Interfaces\View\HtmlPageInterface">HtmlPageInterface</abbr></a> $page, <a href="../../../../Arikaim/Core/Interfaces/Access/AccessInterface.html"><abbr title="Arikaim\Core\Interfaces\Access\AccessInterface">AccessInterface</abbr></a> $access)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Constructor</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../Arikaim/Core/Interfaces/CacheInterface.html"><abbr title="Arikaim\Core\Interfaces\CacheInterface">CacheInterface</abbr></a></td>
                <td>$cache</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$basePath</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$viewPath</td>
                <td></td>
            </tr>
                    <tr>
                <td><a href="../../../../Arikaim/Core/Interfaces/View/HtmlPageInterface.html"><abbr title="Arikaim\Core\Interfaces\View\HtmlPageInterface">HtmlPageInterface</abbr></a></td>
                <td>$page</td>
                <td></td>
            </tr>
                    <tr>
                <td><a href="../../../../Arikaim/Core/Interfaces/Access/AccessInterface.html"><abbr title="Arikaim\Core\Interfaces\Access\AccessInterface">AccessInterface</abbr></a></td>
                <td>$access</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getGlobals">
        <div class="location">at         line 84</div>
        <code>                    array
    <strong>getGlobals</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Rempate engine global variables</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFunctions">
        <div class="location">at         line 97</div>
        <code>                    array
    <strong>getFunctions</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Template engine functions</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFilters">
        <div class="location">at         line 145</div>
        <code>                    array
    <strong>getFilters</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Template engine filters</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTests">
        <div class="location">at         line 183</div>
        <code>                    array
    <strong>getTests</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Template engine tests</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTokenParsers">
        <div class="location">at         line 206</div>
        <code>                    array
    <strong>getTokenParsers</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Template engine tags</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setVar">
        <div class="location">at         line 221</div>
        <code>                    void
    <strong>setVar</strong>(string $name, mixed $value)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Set global variable</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getVar">
        <div class="location">at         line 234</div>
        <code>                    mixed
    <strong>getVar</strong>(string $name, mixed|null $default = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get global var</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td>mixed|null</td>
                <td>$default</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPrimaryTemplate">
        <div class="location">at         line 247</div>
        <code>                    string
    <strong>getPrimaryTemplate</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get current template</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_parseMarkdown">
        <div class="location">at         line 259</div>
        <code>                    string
    <strong>parseMarkdown</strong>($content, $context = [])
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Parse Markdown</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$content</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$context</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_loadComponent">
        <div class="location">at         line 275</div>
        <code>                    void
    <strong>loadComponent</strong>(string $name, array $params = [])
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Load component</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$params</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPageFiles">
        <div class="location">at         line 285</div>
        <code>                    array
    <strong>getPageFiles</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get page fles</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplateFiles">
        <div class="location">at         line 290</div>
        <code>                    
    <strong>getTemplateFiles</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getThemeFiles">
        <div class="location">at         line 300</div>
        <code>                    array
    <strong>getThemeFiles</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return theme files</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLibraryFiles">
        <div class="location">at         line 310</div>
        <code>                    array
    <strong>getLibraryFiles</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return library files</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getComponentsFiles">
        <div class="location">at         line 320</div>
        <code>                    array
    <strong>getComponentsFiles</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get page fles</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getProperties">
        <div class="location">at         line 332</div>
        <code>                    array
    <strong>getProperties</strong>(string $name, string|null $language = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get component properties</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td>string|null</td>
                <td>$language</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getComponentOptions">
        <div class="location">at         line 343</div>
        <code>                    array|null
    <strong>getComponentOptions</strong>(string $name)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get comonent options ( control panel access is required)</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array|null</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_loadComponentCssFile">
        <div class="location">at         line 354</div>
        <code>                    string
    <strong>loadComponentCssFile</strong>(string $componentName)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Load component css file</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$componentName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_loadLibraryFile">
        <div class="location">at         line 369</div>
        <code>                    string
    <strong>loadLibraryFile</strong>(string $library, string $fileName)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Load Ui library file</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$library</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$fileName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_hasAccess">
        <div class="location">at         line 385</div>
        <code>                    boolean
    <strong>hasAccess</strong>(string $name, string|array $type = null, mixed $authId = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Check access</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td>Permission name</td>
            </tr>
                    <tr>
                <td>string|array</td>
                <td>$type</td>
                <td>PermissionType (read,write,execute,delete)</td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$authId</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>boolean</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isLogged">
        <div class="location">at         line 395</div>
        <code>                    boolean
    <strong>isLogged</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return true if use ris logged</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>boolean</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
