<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Arikaim Arikaim\Core\View\Html\Component\Traits\UiLibrary | API Documentation</title>
            <link rel="stylesheet" type="text/css" href="../../../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../../css/sami.css">
        <link rel="stylesheet" type="text/css" href="../../../../../../css/style.css">
        <script src="../../../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../../../js/bootstrap.min.js"></script>
        <script src="../../../../../../js/typeahead.min.js"></script>
        <script src="../../../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="shortcut icon" href="../../../../../../images/arikaim-favicon.png" />
    </head>

    <body id="class" data-name="class:Arikaim_Core_View_Html_Component_Traits_UiLibrary" data-root-path="../../../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <script>
            $('option[data-version="'+window.projectVersion+'"]').prop('selected', true);
        </script>
        <form id="search-form" action="../../../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                   
                <ul class="nav navbar-nav" style="margin-left:0px">                               
                    <li>
                        <a class="page-title float-left" href="http://arikaim.com/">Arikaim</a>
                    </li>
                    <li><a href="index.html">API Documentation</a></li>
                    <li><a href="#">Version master</a></li>
                </ul>                                                         
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">trait</span></li>
                        <li><a href="../../../../../../Arikaim.html">Arikaim</a></li><li class="backslash">\</li><li><a href="../../../../../../Arikaim/Core.html">Core</a></li><li class="backslash">\</li><li><a href="../../../../../../Arikaim/Core/View.html">View</a></li><li class="backslash">\</li><li><a href="../../../../../../Arikaim/Core/View/Html.html">Html</a></li><li class="backslash">\</li><li><a href="../../../../../../Arikaim/Core/View/Html/Component.html">Component</a></li><li class="backslash">\</li><li><a href="../../../../../../Arikaim/Core/View/Html/Component/Traits.html">Traits</a></li><li class="backslash">\</li><li>UiLibrary</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            UiLibrary
                
        </h1>
    </div>

    <p>    trait
    <strong>UiLibrary</strong>
</p>

        
    

            <div class="description">
            <p>UiLibrary helpers</p>                                </div>
    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Arikaim\Core\View\Html\Component\Traits\Collection">Collection</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getLibraryProperties">getLibraryProperties</a>(string $name, string|null $version = null)
        
                                            <p>Return library properties</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_parseLibraryName">parseLibraryName</a>(string $libraryName)
        
                                            <p>Parse library name   (name:version)</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getLibraryDetails">getLibraryDetails</a>(string $libraryName)
        
                                            <p>Get library details</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getLibraryFiles">getLibraryFiles</a>(string $libraryName, string|null $version, string|null $option = null)
        
                                            <p>Get library files</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_resolveLibraryParams">resolveLibraryParams</a>(<abbr title="Arikaim\Core\View\Html\Component\Traits\Collection">Collection</abbr> $properties)
        
                                            <p>Resolve library params</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_getLibraryProperties">
        <div class="location">at         line 30</div>
        <code>                    <abbr title="Arikaim\Core\View\Html\Component\Traits\Collection">Collection</abbr>
    <strong>getLibraryProperties</strong>(string $name, string|null $version = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return library properties</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td>string|null</td>
                <td>$version</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Arikaim\Core\View\Html\Component\Traits\Collection">Collection</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_parseLibraryName">
        <div class="location">at         line 54</div>
        <code>                    array
    <strong>parseLibraryName</strong>(string $libraryName)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Parse library name   (name:version)</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$libraryName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLibraryDetails">
        <div class="location">at         line 71</div>
        <code>                    array
    <strong>getLibraryDetails</strong>(string $libraryName)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get library details</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$libraryName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLibraryFiles">
        <div class="location">at         line 104</div>
        <code>                    array
    <strong>getLibraryFiles</strong>(string $libraryName, string|null $version, string|null $option = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get library files</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$libraryName</td>
                <td></td>
            </tr>
                    <tr>
                <td>string|null</td>
                <td>$version</td>
                <td></td>
            </tr>
                    <tr>
                <td>string|null</td>
                <td>$option</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_resolveLibraryParams">
        <div class="location">at         line 145</div>
        <code>                    array
    <strong>resolveLibraryParams</strong>(<abbr title="Arikaim\Core\View\Html\Component\Traits\Collection">Collection</abbr> $properties)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Resolve library params</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Arikaim\Core\View\Html\Component\Traits\Collection">Collection</abbr></td>
                <td>$properties</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
