<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Arikaim Arikaim\Core\Interfaces\View\ViewInterface | API Documentation</title>
            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/style.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
        <link rel="shortcut icon" href="../../../../images/arikaim-favicon.png" />
    </head>

    <body id="class" data-name="class:Arikaim_Core_Interfaces_View_ViewInterface" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <script>
            $('option[data-version="'+window.projectVersion+'"]').prop('selected', true);
        </script>
        <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>                   
                <ul class="nav navbar-nav" style="margin-left:0px">                               
                    <li>
                        <a class="page-title float-left" href="http://arikaim.com/">Arikaim</a>
                    </li>
                    <li><a href="index.html">API Documentation</a></li>
                    <li><a href="#">Version master</a></li>
                </ul>                                                         
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">interface</span></li>
                        <li><a href="../../../../Arikaim.html">Arikaim</a></li><li class="backslash">\</li><li><a href="../../../../Arikaim/Core.html">Core</a></li><li class="backslash">\</li><li><a href="../../../../Arikaim/Core/Interfaces.html">Interfaces</a></li><li class="backslash">\</li><li><a href="../../../../Arikaim/Core/Interfaces/View.html">View</a></li><li class="backslash">\</li><li>ViewInterface</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            ViewInterface
                
        </h1>
    </div>

    <p>    interface
    <strong>ViewInterface</strong>
</p>

        
    

            <div class="description">
            <p>View interface</p>                                </div>
    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    mixed|null
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getService">getService</a>(string $name)
        
                                            <p>Get service</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getGlobals">getGlobals</a>()
        
                                            <p>Get all global vars</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addGlobal">addGlobal</a>(string $name, mixed $value)
        
                                            <p>Add global variable</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTemplatesPath">getTemplatesPath</a>()
        
                                            <p>Get templates path</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getPrimaryTemplate">getPrimaryTemplate</a>()
        
                                            <p>Get primary template</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setPrimaryTemplate">setPrimaryTemplate</a>(string $templateName)
        
                                            <p>Set primary template</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string|null
                </div>
                <div class="col-md-8 type">
                    <a href="#method_fetch">fetch</a>(string $template, array $params = [])
        
                                            <p>Render template</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string|null
                </div>
                <div class="col-md-8 type">
                    <a href="#method_fetchBlock">fetchBlock</a>(string $template, string $block, array $params = [])
        
                                            <p>Render template block</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_fetchFromString">fetchFromString</a>(string $string, array $params = [])
        
                                            <p>Render template from string</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Twig\Environment">Environment</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getEnvironment">getEnvironment</a>()
        
                                            <p>Get Twig environment</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Arikaim\Core\Interfaces\View\CacheInterface">CacheInterface</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getCache">getCache</a>()
        
                                            <p>Get cache</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getExtensionsPath">getExtensionsPath</a>()
        
                                            <p>Gte extensions path</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getViewPath">getViewPath</a>()
        
                                            <p>Get view path</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Arikaim\Core\Interfaces\View\ExtensionInterface">ExtensionInterface</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getExtension">getExtension</a>(string $class)
        
                                            <p>Get twig extension</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <abbr title="Arikaim\Core\Interfaces\View\ExtensionInterface">ExtensionInterface</abbr>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getCurrentExtension">getCurrentExtension</a>()
        
                                            <p>Get current extension</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8 type">
                    <a href="#method_createComponent">createComponent</a>(string $name, string $language, string $type)
        
                                            <p>Create component</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Arikaim/Core/Interfaces/View/HtmlComponentInterface.html"><abbr title="Arikaim\Core\Interfaces\View\HtmlComponentInterface">HtmlComponentInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_renderComponent">renderComponent</a>(string $name, array|null $params = [], string $language, string|null $type = null)
        
                                            <p>Render html component</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_getService">
        <div class="location">at         line 23</div>
        <code>                    mixed|null
    <strong>getService</strong>(string $name)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get service</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed|null</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getGlobals">
        <div class="location">at         line 30</div>
        <code>                    array
    <strong>getGlobals</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get all global vars</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addGlobal">
        <div class="location">at         line 39</div>
        <code>                    void
    <strong>addGlobal</strong>(string $name, mixed $value)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Add global variable</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplatesPath">
        <div class="location">at         line 46</div>
        <code>                    string
    <strong>getTemplatesPath</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get templates path</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPrimaryTemplate">
        <div class="location">at         line 53</div>
        <code>                    string
    <strong>getPrimaryTemplate</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get primary template</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setPrimaryTemplate">
        <div class="location">at         line 61</div>
        <code>                    void
    <strong>setPrimaryTemplate</strong>(string $templateName)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Set primary template</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_fetch">
        <div class="location">at         line 70</div>
        <code>                    string|null
    <strong>fetch</strong>(string $template, array $params = [])
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Render template</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$template</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$params</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string|null</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_fetchBlock">
        <div class="location">at         line 80</div>
        <code>                    string|null
    <strong>fetchBlock</strong>(string $template, string $block, array $params = [])
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Render template block</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$template</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$block</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$params</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string|null</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_fetchFromString">
        <div class="location">at         line 89</div>
        <code>                    string
    <strong>fetchFromString</strong>(string $string, array $params = [])
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Render template from string</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$string</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$params</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getEnvironment">
        <div class="location">at         line 96</div>
        <code>                    <abbr title="Twig\Environment">Environment</abbr>
    <strong>getEnvironment</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get Twig environment</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Twig\Environment">Environment</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getCache">
        <div class="location">at         line 103</div>
        <code>                    <abbr title="Arikaim\Core\Interfaces\View\CacheInterface">CacheInterface</abbr>
    <strong>getCache</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get cache</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Arikaim\Core\Interfaces\View\CacheInterface">CacheInterface</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getExtensionsPath">
        <div class="location">at         line 110</div>
        <code>                    string
    <strong>getExtensionsPath</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Gte extensions path</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getViewPath">
        <div class="location">at         line 117</div>
        <code>                    string
    <strong>getViewPath</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get view path</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getExtension">
        <div class="location">at         line 124</div>
        <code>                    <abbr title="Arikaim\Core\Interfaces\View\ExtensionInterface">ExtensionInterface</abbr>
    <strong>getExtension</strong>(string $class)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get twig extension</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$class</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Arikaim\Core\Interfaces\View\ExtensionInterface">ExtensionInterface</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getCurrentExtension">
        <div class="location">at         line 131</div>
        <code>                    <abbr title="Arikaim\Core\Interfaces\View\ExtensionInterface">ExtensionInterface</abbr>
    <strong>getCurrentExtension</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get current extension</p>                                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><abbr title="Arikaim\Core\Interfaces\View\ExtensionInterface">ExtensionInterface</abbr></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_createComponent">
        <div class="location">at         line 141</div>
        <code>                    mixed
    <strong>createComponent</strong>(string $name, string $language, string $type)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Create component</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$language</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$type</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_renderComponent">
        <div class="location">at         line 152</div>
        <code>                    <a href="../../../../Arikaim/Core/Interfaces/View/HtmlComponentInterface.html"><abbr title="Arikaim\Core\Interfaces\View\HtmlComponentInterface">HtmlComponentInterface</abbr></a>
    <strong>renderComponent</strong>(string $name, array|null $params = [], string $language, string|null $type = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Render html component</p>                                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td>array|null</td>
                <td>$params</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$language</td>
                <td></td>
            </tr>
                    <tr>
                <td>string|null</td>
                <td>$type</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Arikaim/Core/Interfaces/View/HtmlComponentInterface.html"><abbr title="Arikaim\Core\Interfaces\View\HtmlComponentInterface">HtmlComponentInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
